____output
climbing
datatest
img_breaking
img_climbing
img_lockpicking
lockpicking
runs
smthgelse
Unknown_Human_Pose
pose_cls_v1.h5
pose_cls_v2.h5
annotated_video.mp4
yolov8s-pose.pt
yolov8x-pose-p6.pt
8008311432603564020.mp4
.gitignore
__pycache__/inside_the_box.cpython-310.pyc
test/test_get_cam_data.ipynb
stream_cam/stream_cam.py
get_skeleton_video.py
